<%= @tennis_bag.name %><br />
  <%= @tennis_bag.capacity %> <br />

  <h2> Create New Racquet </h2>
  <form action="/racquets" method="post">
    <label> Racquet Name </label>
    <input type="text" name="name"> </br>

    <label> Racquet Manufacturer </label>
    <input type="text" name="manufacturer"> </br>
    <input type="hidden" name="tennis_bag_id" value="<%=@tennis_bag.id%>">
    <input type="submit" value="Create">

  </form>
  <h3>Racquets</h3>
  <ul>
  <% @tennis_bag.racquets.each do |racquet| %>
    <li><a href="/racquets/<%=racquet.id%>"><%= racquet.name %></a></li>
    <li><%= racquet.manufacturer %></li>

  <% end%>
  </ul>
  <a href="/tennis_bags/<%=@tennis_bag.id%>/edit">Edit</a>
  <br />
  <br />
