<%= @racquet.name %><br />
 <%= @racquet.manufacturer %> <br />
 Bag: <a href="/tennis_bags/<%=@racquet.tennis_bag.id%>"><%= @racquet.tennis_bag.name %></a> <br />
 <a href="/racquets/<%=@racquet.id%>/edit">Edit</a>
 <br />
 <br />
